header {
    background-color: #FECCCB;
    height: 70pt;
    margin: 0px;
    border: 0px;
    padding-left: 5pt;
}

body {
    
}

#container {
    display:flex;
    width:100%;
    background-color: black;
}

h1 {
    
}

#left-side {
    background-color: #FECCFF;
    float: left;
    width: calc(25% - 100pt);
    height: 500pt;
    padding: 5pt;
    padding-top: 20pt;
}

#main-block {
    background-color: #FFFFCB;
    float: left;
    width: 75%;
    height: 500pt;
    padding-bottom: 25pt;
    padding-left: 5pt;
}

#right-side {
    background-color: #CCFFFF;
    float: left;
    width: 100pt;
    height: 500pt;
    padding: 5pt;
    padding-top: 20pt;
}

footer {
    float: left;
    width: 100%;
    background-color: #CCCCFE;
    padding-left: 5pt;
    
} 