html {
    /* scroll-behavior: auto; */
}



.bg-custom {
    background: #2e2e2e;
}

.nav-link {
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 10pt;
}

body {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 10pt;
    background: #faf9fa;
}

.hero {
    height: 1000px;
}

.background {
    width: 100%;
    opacity: 0.65;
    max-height: 1000px;
}


.background-img {
    width: 100%;
    /* opacity: 0.65; */
    max-height: 1000px;
}

.logo-img {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    margin-top: 200px;
    /* background: purple; */
  }

.social-img {
    /* position: absolute; */
    display: flex;
    position: relative;
    margin-top: -200px;
    justify-content: center;
}

.social-logo {
    margin: 0px 10px;    
}

#collection {
    display: block;
    margin-top: -65px;
}

.shop-box {
    background: #d1cac9;
    position: relative;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 180px;
    text-align: center;
}

.shop-title {
    display: inline-block;
    margin-top: 32px;
    font-size: 20pt;
    margin-bottom: 0px;
}

hr {
    width: 8%;
    height: 20px;
    background: black;
    border: none;
    /* border:0.3rem solid black; */
    /* border-width: 30px; */
    margin-left: auto;
    margin-right: auto;
    /* border: 10px; */
}

.shop-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 15pt;
    width: 300px;
}

.grid-container{
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    
    width: 750px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    background-color: white;
    text-align: center;
    height: 400px;
    width: 230px;
}

.container {
    width: 230px;
    height: 220px;
    position: relative;
}

.item-img {
    position: relative;
    top: 50%;
    left: 0%;
    width: 100%;
    object-fit: cover;
    transform: translate(0%, -50%);
}

.caption {
    height: 180px;
    margin-top: 0px;
    background: #d1cac9;
}

.caption-name {
    display: inline-block;
    font-size: 11pt;
    margin: 12px;
    margin-top: 16px;
}

.caption-price {
    display: inline-block;
    font-size: 11pt;
    margin: 12px;
    margin-top: 10px;
}

.prime {
    width: 50px;
    margin-left: 10px;
    mix-blend-mode: multiply;
}

.btn-outline-secondary {
    margin-top: 12px;
    color: black;
    border-color: block;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 11pt;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 15%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.video {
    margin-top: 75px;
    width: 100%;
}

.about-box {
    background: white;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    margin-top: -600px;
    width: 600px;
    height: 400px;
    text-align: center;
}

.about-title {
    display: inline-block;
    margin-top: 32px;
    font-size: 20pt;
    margin-bottom: 0px;
}

.about-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 11pt;
    width: 400px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 30px;
    list-style: none;
    flex-wrap: wrap;
    gap: 60px;
  }

.flex-item {
    /* padding: 5px;
    margin: 5px; */
    width: 200px;
    height: 200px;
    font-size: 11pt;
    text-align: center;
    box-shadow: 0 3px 3px grey;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }

.card-box:hover .overlay {
    opacity: 1;
  }

.white {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.category {
    margin-top: 20px;
}

.contact-us-background {
    background: #d1cac9;
    width: 100%;
    height: 530px;
}

.contact-us {
    background: white;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    margin-top: 30px;
    width: 600px;
    height: 470px;
    text-align: center;
}

.contact-us-description {
    display: block;
    font-size: 13pt;
}

.form2 { 
    position: relative;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width:80%;
}

.form-group {
    width: 100%;
    height: 100%;
}

.form-group2 {
    grid-column: span 2;
    grid-row: 3;
    display: inline-block;
    vertical-align: text-top;
    width: 100%;
    height: 100%;
    background-color: teal;
}

.form input[type="text"], .form input[type="email"], .form input[type="textarea"] {
    width: 100%;
    height: 100%;
    padding: 15px;
    
    border-width: 2px;
    color: black;
    font-style: italic;
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    
    border-width: 2px;
    color: black;
    font-style: italic;
}

.contact-us-btn-container {
    display: flex;
    width: 100%;
    height: 60px;
    grid-column: span 2;
    grid-row: 5;
    justify-content: flex-end;
}

.contact-us-btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 200px;
    
}

.btn-dark {
    display: flex;
    position: relative;
    justify-content: flex-end;
    text-align: center;
    /* width: 180px; */
    margin-top: 20px;
    
    border-radius: 0px;
    grid-column: span 2;
    grid-row: 4;
    
}

footer {
    background: #2e2e2e;
    height: 200px;
}

/* .footer-social {
    position: absolute;
    
    margin-top: 100pt;
} */

.footer-social-img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 35px;
    
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: white;
    text-align: center;
}